<footer id="footer" class="main-footer">
    <div class="row">
        <div class="wrapper">
            <div class="col">
                <h3>Pages</h3>
                <ul class="nav">
                    {% for item in menu.get_items %}
                        <li class="nav-item {{ item.classes | join(' ') }}">
                            <a class="nav-link" href="{{ item.get_link }}">{{ item.title }}</a>
                            {% if item.get_children %}
                                <ul class="nav nav-drop">
                                    {% for child in item.get_children %}
                                        <li class="nav-drop-item">
                                            <a class="nav-link"
                                               href="{{ child.get_link }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h3>Contact</h3>
                <p>info@Stash.ioo <br>
                    +32 (0)69 69 69 69 <br>
                </p>
                <p>ZakenmakenStraat 69<br>
                    2000 Antwerpen</p>
            </div>
            <div class="col">
                <h3>Social</h3>
                <p>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </p>
                <p>© {{ function('get_bloginfo', 'name') }} {{ "now"|date('Y') }}</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>
{{ function('wp_footer') }}