<header class="main-header">
    {% block header %}
        <div class="wrapper row">
            <div class="logo">
                <a href="/">
                    {{ image.display('logo.svg') }}
                </a>
            </div>
            <button class="hamburger js-hamburger" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <nav id="nav-main" class="nav-main" role="navigation">
                <ul class="nav">
                    {% for item in menu.get_items %}
                        <li class="nav-item {{ item.classes | join(' ') }}">
                            <a class="nav-link" href="{{ item.get_link }}">{{ item.title }}</a>
                            {% if item.get_children %}
                                <ul class="nav nav-drop">
                                    {% for child in item.get_children %}
                                        <li class="nav-drop-item">
                                            <a class="nav-link"
                                               href="{{ child.get_link }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- #nav -->
        </div>
    {% endblock %}
</header>